---
title: How to Add Organization Domain Verification
slug: /account/organization-domain-vervify
origin-url: https://gitee.ru/help/articles/4263
---

By verifying the organization's domain, you can add a verified domain to the organization to confirm its ownership and identity.

## Add domain verification

Organization administrators can add domain verification through **Organization Settings -> Domain Verification**

![](%E5%A6%82%E4%BD%95%E6%B7%BB%E5%8A%A0%E7%BB%84%E7%BB%87%E5%9F%9F%E5%90%8D%E9%AA%8C%E8%AF%81.assets/image.png)

After verifying the account security, fill in the domain name that needs to be verified (can be a top-level domain or a second-level domain)

![](%E5%A6%82%E4%BD%95%E6%B7%BB%E5%8A%A0%E7%BB%84%E7%BB%87%E5%9F%9F%E5%90%8D%E9%AA%8C%E8%AF%81.assets/image-1.png)

After adding, get the TXT record and value that needs to be parsed into DNS from the pop-up verification window, and click "Verify Now" on the page after processing the DNS resolution to complete the verification.

![](%E5%A6%82%E4%BD%95%E6%B7%BB%E5%8A%A0%E7%BB%84%E7%BB%87%E5%9F%9F%E5%90%8D%E9%AA%8C%E8%AF%81.assets/image-2.png)

Successful domain verification will display a verification passed prompt.